@inject IViewLocalizer Localizer
@model ForgotPasswordModel

@{
    ViewData["Title"] = Localizer["PageTitle"];
}

<div class="container justify-content-center fullHeight">
    <div class="row heightInherit">
        <div class="col-md-6 col-xs-12 d-flex align-items-center">
            @(await Component.InvokeAsync<ImageViewComponent>(
                new { path = "/img/forgotPassword.png", alt = "Sign in" }))
        </div>
        <div class="col-md-6 col-xs-12 d-flex align-items-center justify-content-center">
            <div>
                <h1 class="display-4 fontBold text-center paddingDelimiter15">
                    @Localizer["PageTitle"]
                </h1>
                @(await Component.InvokeAsync<TempDataMessageViewComponent>(
                    new {
                        statusColor = "text-success",
                        message = TempData[TempDataMessages.ForgotPasswordConfirmation] as string }))
                @using (Html.BeginForm())
                {
                    <div class="form-group">
                        @Html.LabelFor(
                            model => model.RegistrationEmail,
                            Localizer["RegistrationEmail"].Value,
                            new { @class = "fontLarger fontLight" })
                        @Html.TextBoxFor(
                            model => model.RegistrationEmail,
                            null,
                            new { @class = "form-control form-control-lg fontLight", type = "text" })
                        <div>
                            @Html.ValidationMessageFor(model => model.RegistrationEmail, null, new { @class = "text-danger" })
                        </div>
                    </div>
                    <span class="text-danger">
                        @Html.ValidationSummary(true)
                    </span>
                    <div class="text-center paddingDelimiter15">
                        <button type="submit"
                                class="btn btn-lg bgRoyalOrange">
                            @Localizer["SendCode"]
                        </button>
                    </div>
                }
            </div>
        </div>
    </div>
</div>